<section id="about-carwash">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="head">

        </div>
        <div class="tabs">


          <input type="radio" name="tab-btn" id="tab-btn-1" value="" class="b-radio" checked>
          <label for="tab-btn-1">Отзывы</label>
          <input type="radio" name="tab-btn" id="tab-btn-2" value="" class="b-radio">
          <label for="tab-btn-2">Фотографии</label>
          <input type="radio" name="tab-btn" id="tab-btn-3" value="" class="b-radio">
          <label for="tab-btn-3">Прайс</label>

          <div id="content-1">
            <div class="rectangle">
              <div class="general">
                <div class="ellipse"></div>
                <h3>Иван Сенников</h3>
                <button class="button__clientreview">Отзыв</button>
              </div>
              <p>Сегодня</p>
              <p>Мне нравится! Времени уходит не много, хорошо и быстро моют.</p>
            </div>
            <div class="rectangle">
              <div class="ellipse"></div>
              <h3>Иван Сенников</h3>
              <button class="button__clientreview">Отзыв</button>
              <p>Сегодня</p>
              <p>Мне нравится! Времени уходит не много, хорошо и быстро моют.</p>
            </div>
          </div>
          <div id="content-2">
            Содержимое 2...
          </div>
          <div id="content-3">
            Содержимое 3...
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
