<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main">
          <div class="svg-home">
            <img src="../../../assets/pictures/home/SWOOSH.svg">
          </div>
          <h1>Очереди <br> в прошлом</h1>
          <p>Уникальные автомойки <span id="swoosh">swoosh</span><span
            id="yellow__text"> без очередей и головной боли.</span></p>
          <p>Попробуйте премиуим-уход за вашим автомобилем.</p>
          <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#windowNote">Записаться ON-line
          </button>
      <!--    <svg>
            <text x="0" y="15"
                  style="font-weight: 900; font-size: 128px; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(4px);">
              SWOOSH
            </text>
          </svg>-->
          <div class="other__information">
            <img src="../../../assets/pictures/home/space.png"><p>г. Нижний Новгород <br><br> офис: Белинского 32 а |
              Нижневолжская набережная 12</p>
            <img src="../../../assets/pictures/home/phone.png"><p>+7 908 165-54-65</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="advantage">
          <div class="ellipse">
            <img src="../../../assets/pictures/advantages/advantage1.png" id="advantage1">
          </div>
          <h3>
            Текст Текст Текст
          </h3>
          <p>
            Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
          </p>
        </div>
        <div class="advantage">
          <div class="ellipse">
            <img src="../../../assets/pictures/advantages/advantage2.png" id="advantage2">
          </div>
          <h3>
            Текст Текст Текст
          </h3>
          <p>
            Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
          </p>
        </div>
        <div class="advantage">
          <div class="ellipse">
            <img src="../../../assets/pictures/advantages/advantage3.png" id="advantage3">
          </div>
          <h3>
            Текст Текст Текст
          </h3>
          <p>
            Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="big__ellipse">
          <img src="../../../assets/pictures/home/carWithPeople.png" id="carWithPeople">
          <div class="middle__ellipse">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="prices">
  <h1 class="heading">Цены</h1>
  <div class="container">
    <div class="row">
       <div class="col-lg-12">
      <div class="rectangle">
        <div id="ellipse"></div>
        <div id="rectangle"></div>
        <img src="../../../assets/pictures/prices/yellowCar.png" id="yellowCar">
        <img src="../../../assets/pictures/prices/Vector1.png" id="Vector1">
        <p id="text1">Антидождь <span>от 2000 руб.</span></p>
        <img src="../../../assets/pictures/prices/Vector2.png" id="Vector2">
        <p id="text2">Детейлинг химчистка <span>от 13000 руб.</span></p>
        <img src="../../../assets/pictures/prices/Vector3.png" id="Vector3">
        <p id="text3">Детейлинг мойка <span>от 3000 руб.</span></p>
        <img src="../../../assets/pictures/prices/Vector4.png" id="Vector4">
        <p id="text4">Антигравийная пленка <span>от 10000 руб.</span></p>
        <img src="../../../assets/pictures/prices/Vector5.png" id="Vector5">
        <p id="text5">Полировка фар <span>от 2000 руб.</span></p>
      </div>
    </div>
    <button type="button" class="button" id="button__price" data-bs-toggle="modal" data-bs-target="#windowNote">Записаться ON-line</button>
    </div>
  </div>
</section>

<section id="reviews">
  <div class="svg-reviews1">
    <img src="../../../assets/pictures/home/SWOOSH.svg">
  </div>
  <div class="svg-reviews2">
    <img src="../../../assets/pictures/home/SWOOSH.svg">
  </div>
  <div class="svg-reviews3">
    <img src="../../../assets/pictures/home/SWOOSH.svg">
  </div>
  <h1 class="heading">Отзывы</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="rectangle__review">
        <div class="row__photos">
          <div class="effects">
            <img src="../../../assets/pictures/reviews/one.png" alt="">
            <div class="mask">
              <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
              <h2>Текст текст текст</h2>
              <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
              <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
            </div>
          </div>
          <div class="effects">
            <img src="../../../assets/pictures/reviews/two.png" class="img__effects">
            <div class="mask">
              <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
              <h2>Текст текст текст</h2>
              <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
              <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
            </div>
          </div>
          <div class="effects">
            <img src="../../../assets/pictures/reviews/three.png" alt="">
            <div class="mask">
              <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
              <h2>Текст текст текст</h2>
              <p>Текст текст текст текст текст текст текст текст текст.</p>
              <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
            </div>
          </div>
        </div>
          <div class="row__photos">
            <div class="effects">
              <img src="../../../assets/pictures/reviews/four.png" alt="">
              <div class="mask">
                <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
                <h2>Текст текст текст</h2>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
                <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
              </div>
            </div>
            <div class="effects">
              <img src="../../../assets/pictures/reviews/five.png" alt="">
              <div class="mask">
                <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
                <h2>Текст текст текст</h2>
                <p>Текст текст текст текст текст текст текст текст текст.</p>
                <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
              </div>
            </div>
            <div class="effects">
              <img src="../../../assets/pictures/reviews/six.png" alt="">
              <div class="mask">
                <img src="../../../assets/pictures/modal/logotip.png" class="logo__review">
                <h2>Текст текст текст</h2>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.</p>
                <a (click)="toPage('/about-carwash')">Подробнее об автомойке</a>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
</section>

<section id="faq">
  <h1 class="heading">Остались вопросы?</h1>
  <div class="container">
    <div class="row">
      <div class="rectangle__faq">
        <div class="ellipse__faq">
          <img src="../../../assets/pictures/faq/person.png">
        </div>
        <img src="../../../assets/pictures/faq/FAQ.svg" class="FAQ__svg">
        <div class="text__faq">
        <ul>
          <li>Вопрос?</li>
          <li>Вопрос?</li>
          <li>Вопрос?</li>
          <li>Вопрос?</li>
        </ul>
        </div>
      </div>
      <button type="button" class="button" id="button__faq" data-bs-toggle="modal" data-bs-target="#windowNote">Записаться ON-line</button>
    </div>
  </div>
</section>



