<div class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo">
          <a href="#" class="logo__link">Swoosh
            <span>сеть автомоек</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="#prices" class="top-menu__link">Цены</a></li>
        <li class="top-menu__item"><a class="top-menu__link" data-bs-toggle="modal" data-bs-target="#windowNote"><span>ON-line</span> запись</a></li>
        <li class="top-menu__item"><a href="#reviews" class="top-menu__link">Отзывы</a></li>
        <li class="top-menu__item"><a href="#faq" class="top-menu__link">FAQ</a></li>
      </ul>
    </div>
    <div class="col-lg-2">
      <button type="button" class="button__account" data-bs-toggle="modal" data-bs-target="#windowLogIn"><span><img src="../../../../assets/pictures/home/carAccount.png">Личный кабинет</span></button>
    </div>
  </div>
</div>

<!-- FORM LOGIN -->
<div class="modal fade" id="windowLogIn" tabindex="-1" aria-labelledby="windowLogIn" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="login">
    <div class="modal-content" id="background__login">
      <h5 class="modal-title">Вход</h5>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group col-7">
            <label id="email__login">e-mail</label>
            <input type="text" formControlName="email" class="input__modal"/>
          </div>
          <div class="form-group col-7">
            <label id="password__login">Пароль</label>
            <input type="password" formControlName="password" class="input__modal"/>
          </div>
        <button type="button" class="button__modal" (click)="toPage('/personal-account-client')" [disabled]="form.invalid">Войти
        </button>
      </form>
      <p id="text__login">У меня еще нет аккаунта, <a data-bs-target="#windowRegistration" data-bs-toggle="modal"><span>зарегистрироваться.</span></a>
      </p>
    </div>
  </div>
</div>

<!-- FORM REGISTRATION -->
<div class="modal fade" id="windowRegistration" tabindex="-1" aria-labelledby="windowRegistration" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="registration">
    <div class="modal-content" id="background__registration">
      <h5 class="modal-title" id="registration__text">Регистрация</h5>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group col-7">
            <label>Имя</label>
            <input type="name" class="form-control" formControlName="name" class="input__modal"/>
          </div>
          <div class="form-group col-7">
            <label>e-mail</label>
            <input type="email" class="form-control" formControlName="email" class="input__modal"/>
          </div>
          <div class="form-group col-7">
            <label>Пароль</label>
            <input type="password"  class="form-control" formControlName="password" class="input__modal"/>
          </div>
          <div class="form-group col-7">
            <label>Введите пароль еще раз</label>
            <input type="password"  class="form-control" formControlName="confirmedPassword" class="input__modal"/>
          </div>
        <button type="submit" class="button__modal" data-bs-toggle="modal" data-bs-target="#windowCode" [disabled]="form.invalid && !isConfirmedPassword()">Далее
        </button>
      </form>
    </div>
  </div>
</div>

<!-- FORM CODE -->
<div class="modal fade" id="windowCode" tabindex="-1" aria-labelledby="windowCode" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="code">
    <div class="modal-content" id="background__code">
      <h5 class="modal-title">Регистрация</h5>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group col-7">
            <label>Введите код высланный на ваш e-mail</label>
            <input type="code" formControlName="code" class="input__modal"/>
          </div>
        <button type="submit" id="button__code" (click)="toPage('/personal-account-client')">
          Зарегистрироваться
        </button>
      </form>
    </div>
  </div>
</div>

