<div class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <a href="#" class="logo__link">Swoosh
            <span>сеть автомоек</span></a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="#prices" class="top-menu__link">Цены</a></li>
        <li class="top-menu__item"><a href="#note" class="top-menu__link"><span>ON-line</span> запись</a></li>
        <li class="top-menu__item"><a href="#reviews" class="top-menu__link">Отзывы</a></li>
        <li class="top-menu__item"><a href="#faq" class="top-menu__link">FAQ</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <button type="button" class="button__account"><span><img src="../../../../assets/pictures/home/carAccount.png">Личный кабинет</span></button>
    </div>
  </div>
</div>

