/* You can add global styles to this file, and also import other style files */

/*@font-face {
  font-family: Gilroy-Light;
  src: url(../../../SwooshUI/SwooshUI/src/assets/fonts/Gilroy-Light.otf) format("truetype");
  font-family: "Gilroy";
  font-weight: ;
}*/

/* USER VARIABLES SECTION */
:root {
  --accent: #F6E22B;
  --text: #fff;
  --dark: #000;
  --regular-text: 16px;
  --line-height: 19px;
  --userfont: Gilroy-wt, sans-serif;
}

/* BOOTSTRAP SETTINGS */

/* gutter 30px (15px + 15px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .5rem; }
.row, .row > * { --bs-gutter-x: 1rem; }

/* FONTS LOAD SECTION */

@font-face {
  src: url(src/assets/fonts/Gilroy-Regular.ttf) format("truetype");
  font-family: "Gilroy-wt";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(src/assets/fonts/Gilroy-Bold.ttf) format("truetype");
  font-family: "Gilroy-wt";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../../../SwooshUI/SwooshUI/src/assets/fonts/Gilroy-ExtraBold.otf) format("truetype");
  font-family: "Gilroy-wt";
  font-weight: 800;
  font-style: normal;
}
@font-face {
  src: url(src/assets/fonts/Gilroy-Black.ttf) format("truetype");
  font-family: "Gilroy-wt";
  font-weight: 900;
  font-style: normal;
}

/* GENERAL CSS SETTINGS */
input { outline: none; }
input:focus:required:invalid { border: 2px red; }

body{
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--line-height);
  color: var(--text);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: var(--dark);
}

.input__modal{
  background-color: white;
  width: 373px;
  height: 37px;
  border-radius: 5px;
  border: 0;
}

select{
  background-color: white;
  width: 373px;
  height: 37px;
  border-radius: 5px;
}

/*
@media (min-width: 1200px) {
  .container{
    max-width: 1436px;

  }
}*/

/*
* {
  font-weight: 400;
  color: white;
  background-color: black;
}



.heading {
  color: #F6E22B;
  text-transform: uppercase;
}



.input__error {
  border: 2px solid red;
}
*/
